/**
 *
 * Index
 *
 *  0.0 - Variables
 *  1.0 - General
 *  1.1 - Typography
 *  1.2 - Backgrounds
 *  2.0 - Layout
 *  3.0 - Header
 *  4.0 - Footer
 *  5.0 - Pages
 *  5.1 - Home
 *  5.2 - Jedi
 *  5.3 - Sith
 *  5.4 - Quiz
 *  5.5 - About
 *  5.6 - Error (404)
 *  6.0 - Results
 *  6.1 - Modal
 *  6.2 - Timer
 *  6.3 - Key Frames
 *  6.4 - Alerts
 *  6.5 - Buttons
 *  6.6 - Sounds
 *  7.0 - Media Queries
*/

/* Waiting on global styles here */

/* --root color variables etc go here */
:root {
  —primary-colour: #ffff00;       /* Yellow */
  —secondary-color: #ffffff;      /*white*/
  —btn-background: #a6a6a637;     /*grey*/
  —accent-color-1: #000000;       /*black*/
  —accent-color-2: #00ff00;       /*green*/
  —accent-color-3: #ff0000;       /*red*/
  —accent-color-3: #ff00ff;      /*purple*/
}
/* ================================================== */
/* #0.0 - Variables ================================= */
/* ================================================== */


:root {
  -—primary-color: #ffff00;       /* Yellow */
  -—secondary-color: #ffffff;      /*white*/
  -—btn-background: #a6a6a637;     /*grey*/
  -—accent-color-1: #000000;       /*black*/
  -—accent-color-2: #00ff00;       /*green*/
  -—accent-color-3: #ff0000;       /*red*/
  -—accent-color-3: #ff00ff;      /*purple*/
}

@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.cdnfonts.com/css/days-one');
@import url('https://fonts.cdnfonts.com/css/sf-distant-galaxy');
                
/* ================================================== */
/* #1.0 - General =================================== */
/* ================================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ==== End of General Styles ==== */

/* ================================================== */
/* #1.1 - Typography =================================== */
/* ================================================== */


body {
  display: flex;
  flex-direction: column;
  background-image: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
  background-size: cover;
  min-height: 100dvh;
  overflow: hidden;
  position: relative;
}

/* ================================================== */
/* #2.0 Layout ====================================== */
/* ================================================== */

h1 {
  text-align: center;
  background: #bfb1b121;
  padding: 3px;
  border: 1px solid #ffd700;
  border-radius: 5px;
}

h2 {
  display: block;
  text-align: center;
}

.intro-text {
  background: #bfb1b121;
  color: #ffd700;
  font-size: 1.25rem;
  padding: 3px;
  border: 1px solid #ffd700;
  border-radius: 5px;
  margin: 25px auto;
}

main {
  flex-grow: 1;
  overflow: hidden;
}

#container {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1.30svh;
  right: 0%;
}

/* ==== End of Layout Styles ==== */

/* ================================================== */
/* #3.0 Header ====================================== */
/* ================================================== */

header {
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: #21212179;
  border-bottom: 1px solid #ffffff92;
  box-shadow: 0 0 5px 3px #ffffff86;
  z-index: 3;
}

.logo {
  font-family: 'Star Wars', sans-serif;
  top: 1.30svh;
  font-size: 1.2em;
  color: #ffffff;
  text-shadow: 0px 0px 1px #000000b4;
}

.logo:hover {
  color: #000000;
  text-shadow: 0px 0px 4px #ffff00;
}

.logo a,
.logo a:active,
.logo a:visited {
  text-decoration: none;
  color: inherit;
}

#burger {
  cursor: pointer;
  opacity: 0;
  animation: fadein 0.2s ease 1s forwards;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
#burger .bun,
#burger .filling {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 15%;
  width: 70%;
  transform-origin: 50% 50%;
  transition: top 0.4s ease 0.4s, transform 0.4s ease 0.4s;
}

#burger .bun:before,
#burger .bun:after,
#burger .filling:before,
#burger .filling:after {
  content: "";
  display: block;
  height: 40%;
  background: #e2e2e2;
  position: absolute;
  top: 50%;
  transform: translate(0%, -45%);
  transition: background 0.2s ease, box-shadow 0.2s ease;
}

#burger .bun:before {
  left: 0;
  width: calc(-1px + 75%);
  border-radius: 10px 0px 0px 10px;
}
#burger .bun:after {
  right: 0;
  width: calc(-1px + 25%);
}

#burger:hover .bun.top:before {
  background: #ffeeee;
  box-shadow: #ff0000 0px 0px 10px 1px;
}
#burger:hover .bun.bottom:before {
  background: #ddffff;
  box-shadow: #00ffff 0px 0px 10px 1px;
}
#burger:hover .filling:before {
  background: #eeffee;
  box-shadow: #00ff00 0px 0px 10px 1px;
}
#burger .bun.top {
  top: 25%;
}
#burger .bun.bottom {
  top: 75%;
}

#burger .filling {
  top: 50%;
  left: 50%;
  height: 15%;
  width: 70%;
  position: absolute;
  transition: transform 0.4s ease, top 0.4s ease;
  transform: translate(-50%, -50%) rotate(90deg);
  animation: green-ls-out 0.8s ease forwards;
}

#burger .filling:before {
  left: 0;
  width: calc(-1px + 75%);
}

#burger .filling:after {
  right: 0;
  width: calc(-1px + 25%);
  border-radius: 0 10px 10px 0;
}

#burger.active .bun {
  border-radius: 3px;
  top: 50%;
  transition: top 0.4s ease, transform 0.4s ease;
}

#burger.active .bun.top {
  transform: translate(-50%, -50%) rotate(-225deg);
}

#burger.active .bun.bottom {
  transform: translate(-50%, -50%) rotate(405deg);
}

#burger.active .filling {
  transform: translate(-50%, -50%) rotate(-90deg);
  animation: green-ls-in 0.8s ease forwards;
}

nav {
    font-family: 'SF Distant Galaxy', sans-serif;
    color: #ffffff;
    background: #111111a1;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: transform 1s ease;
    top: 80px;
    bottom: 0px;
    padding-left: 16px;
    width: 300px;
    display: none;
}

nav.show {
    right: 0%;
    padding-left: 0;
    transform: translateX(0%);
    overflow: hidden;
    display: flex;
    width: 200px;
    height: 385px;
    max-width: 100%;
    max-height: 75%;
    top: 5.1rem;
    box-shadow: 0 0 20px 2px #ffff00;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  font-size: 1.75em;
  line-height: 1.25em;
  padding: 0px;
  padding-right: 0.5rem;
  margin: 1rem 0;
  width: 0;
  border-radius: 0px 100px 100px 0px;
  transition: width 0.2s ease, padding 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
  background: #72f2ff;
  box-shadow: #00bbff 0px 0px 0px 2px;
}

nav ul li:hover {
  box-shadow: #00bbff 0px 0px 20px 2px;
  text-shadow: #00bbff 0px 0px 6px, #00bbff 0px 0px 10px;
}
nav ul li:hover {
  width: 90%;
  padding: 0px 16px 0px 0px;
  color: #000000;
}

.selected {
  color: #ffff00
}

nav ul li a {
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    width: 12.5rem;
    color: inherit;
    padding-right: 0.4rem;
}

nav ul li.green {
  background: #e6ffe6;
  box-shadow: #00ff00 0px 0px 0px 2px;
}
nav ul li.green:hover {
  box-shadow: #00ff00 0px 0px 20px 2px;
  text-shadow: #00ff00 0px 0px 6px, #00ff00 0px 0px 10px;
}
nav ul li.red {
  background: #ffe6e6;
  box-shadow: #ff0000 0px 0px 0px 2px;
}
nav ul li.red:hover {
  box-shadow: #ff0000 0px 0px 20px 2px;
  text-shadow: #ff0000 0px 0px 6px, #ff0000 0px 0px 10px;
}
nav ul li.purple {
  background: #ffe6ff;
  box-shadow: #ff00ff 0px 0px 0px 2px;
}
nav ul li.purple:hover {
  box-shadow: #ff00ff 0px 0px 20px 2px;
  text-shadow: #ff00ff 0px 0px 6px, #ff00ff 0px 0px 10px;
}
nav ul li.yellow {
  background: #ffffe6;
  box-shadow: #ffff00 0px 0px 0px 2px;
}
nav ul li.yellow:hover {
  box-shadow: #ffff00 0px 0px 20px 2px;
  text-shadow: #ffff00 0px 0px 6px, #ffff00 0px 0px 10px;
}

@keyframes green-ls-in {
  0% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
  }
}

@keyframes green-ls-out {
  0% {
    transform: translate(-50%, -200%) rotate(-90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ==== End of Header Section Styles ==== */

/* Home and Quiz Section Styles */

.welcome-hidden {
  display: none;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 24rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.welcome-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  animation: fadein 1500ms;
  animation-delay: 0.5s;
}

/* Game Area */

#game-area {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 1.5rem auto;
  color: #ffd700;
}

#game-area h2,
.countdown {
  background: #bfb1b121;
  color: #ffd700;
  padding: 3px;
  border: 1px solid #ffd700;
  border-radius: 5px;
}

.game-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
  background: #bfb1b121;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  width: 12rem;
  height: 2.5rem;
  font-family: 'Days One', sans-serif;
  font-size: 1rem;
  z-index: 1;
  position: relative;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.game-start::after {
  content: '';
  z-index: -1;
  background-color: #ffffff33;
  position: absolute;
  top: -50%;
  bottom: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: translateX(-100%) rotate(35deg);
  transition: transform 1s ease-in-out;
}

.game-start:hover {
    box-shadow: 0 0 9px 2px #ffffff;
}

.game-start:hover::after {
  transform: translateX(200%) rotate(35deg);
}

#game-area div{
  text-align: center;
}

input#answer0,
input#answer1,
input#answer2,
input#answer3  {
  display: none;
}

label, #return-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
  background-color: #313131a6;
  color: #ffffff;
  border: 1px solid #ffd700;
  border-radius: 5px;
  padding: 0.5rem;
  width: 12rem;
  font-family: 'Days One', sans-serif;
  font-size: 1rem;
  z-index: 1;
  position: relative;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

label::after,
#return-home {
  content: '';
  z-index: -1;
  background-color: #ffffff33;
  position: absolute;
  top: -50%;
  bottom: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: translateX(-100%) rotate(35deg);
  transition: transform 1s ease-in-out;
}

label:hover,
#return-home:hover {
    box-shadow: 0 0 9px 2px #ffd700;
}

label:hover::after,
#return-home:hover::after {
  transform: translateX(200%) rotate(35deg);
}

.countdown {
  display: flex;
  color: #ffd700;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  width: 80px;
  height: 80px;
  margin: 10px auto;
  margin-bottom: 30px;
  background-position: 50%;
  border: 2px solid #ffd700;
  border-radius: 50%;
}

/* About Page */

.about-area {
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow-y: auto;
}

.about-img {
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 50%;
  box-shadow: #ffd700 0px 0px 20px 2px;
  text-shadow: #ffd700 0px 0px 6px, #ffd700 0px 0px 10px;
}

.about-card {
  width:200px;
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-card-body {
  text-align: center;
  background-color: rgba(0,0,0,0);
}

.about-title {
  font-family: "Days One", sans-serif;
  background: rgba(191, 177, 177, 0.128);
  padding: 3px;
  border: 1px solid #ffd700;
  border-radius: 5px;
  color:#ffd700;
}

.fa {
  margin: 10px;
  color: #ffd700;
}

/* ================================================== */
/* #4.0 Footer ====================================== */
/* ================================================== */

footer {
  width: 100%;
  font-family: 'Days One', sans-serif;
  text-align: center;
  color: #ffffff;
  padding: 0.5rem 1rem;
  background-color: #212121af;
  border-top: 1px solid #ffffff92;
  box-shadow: 0 0 5px 3px #ffffff92;
  z-index: 3;
  overflow: hidden;
}

/* ==== End of Footer Styles ==== */


/* ================================================== */
/* #5.6 - Error 404 page ============================ */
/* ================================================== */

.error-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
}

.error-title {
  display: none;
}

.error-img {
  margin: 0 auto;
  height: 10rem;
}

.error-message {
  text-align: center;
  font-family: 'days one', sans-serif;
  background: #bfb1b121;
  color: #ffd700;
  padding: 0.5rem 2rem;
  max-width: 300px;
  border: 1px solid #ffd700;
  border-radius: 3px;
  font-size: 1rem;
  margin: 0 auto;
}

.error-button {
  text-align: center;
  font-family: 'SF Distant Galaxy', sans-serif;
  font-size: 1.5em;
  background: #bfb1b121;
  color: #ffd700;
  text-shadow: 0 0 1px white;
  border: 2px solid #ffd700;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin: 2rem auto 0 auto;
  text-decoration: none;
}

.error-button:hover {
  background-color: #ffd700;
  color: black;
  text-shadow: 0 0 20px #f5f5f5;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 10px 3px #f5f5f5;
}

.baby-yoda-img {
  margin: 4.5rem auto 0 auto;
  width: 22%;
  min-width: 80px;
  min-height: 80px;
  max-height: 200px;
}

/* ==== End of Error 404 page styles ==== */

/* ================================================== */
/* #6.1 - Modal ===================================== */
/* ================================================== */

.result-image {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  width: 50%;
  height: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  top: 25%;
  padding: 20px;
  border: 1px solid #888888;
  width: 80%;
}

.modal-game-start {
  background-color: #000000;
}

/* ==== End of Modal styles ==== */

/* ================================================== */
/* #6.2 - Timer ===================================== */
/* ================================================== */

.time {
  text-align: center;
}

#timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ==== End of Timer styles ==== */


/* ================================================== */
/* #6.5 - Variables ================================= */
/* ================================================== */

#start-game-easy,
#start-game-medium {
  margin-bottom: 25px;
}

/* ==== End of Variables styles ==== */

.sound {
  /* display: none; */
  color: #ffffff;
  margin: 0 0 0 25px;
}

/* ================================================== */
/* #7.0 - Media Queries ============================= */
/* ================================================== */

@media screen and (min-width: 320px) {

/* ================================================== */
/* #7.X - Error 404 page 320px Media Query=========== */
/* ================================================== */

.error-img {
  margin: 0 auto;
  height: 15 rem;
}
/* === End of Error 404 (320px) Media Query style === */

}

@media screen and (min-width: 425px) {


/* ================================================== */
/* #7.X - Error 404 page 425px Media Query=========== */
/* ================================================== */

.error-img {
  margin: 0 auto;
  max-height: 400px;
}

/* === End of Error 404 (425px) Media Query style === */

}

@media screen and (min-width: 768px) {

/* ================================================== */
/* #7.X - Error 404 page 768px Media Query=========== */
/* ================================================== */

.baby-yoda-img {
  margin-top: 6.5rem auto 0 auto;
  width: 22%;
  min-width: 80px;
  min-height: 80px;
  max-height: 200px;
  max-width: 200px;
}

/* === End of Error 404 (768px) Media Query style === */

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {

}
/* ==== End of Media Query Styles ==== */